<!--<ul class="nav navbar-nav navbar-right">
    <li *ngIf="auth.userCredentials">  {{auth.userCredentials.userName}}</li>
    <li *ngIf="auth.userCredentials"><a class="btn btn-secondary" (click)="logOut()">Log out</a></li>
    <li *ngIf="!auth.userCredentials"><a [routerLink]="['/login']">Log In</a></li>
    <li *ngIf="!auth.userCredentials"><a [routerLink]="['/register']">Registration</a></li>
</ul>-->

<ul class="nav navbar-nav navbar-right">
    <ng-template [ngIf]="auth.user">
        <li><a class="btn disabled">{{auth.user.credentials.userName}}</a></li>
        <li><a class="btn btn-secondary" (click)="logOut()">Log out</a></li>
    </ng-template>
    <ng-template [ngIf]="!auth.user">
        <li><a [routerLink]="['/login']">Log In</a></li>
        <li><a [routerLink]="['/register']">Registration</a></li>
    </ng-template>
</ul>