@{
    ViewData["Title"] = "Home Page";
}
<app>Loading...</app>
@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@

<script src="~/dist/vendor.js" asp-append-version="true"></script>
<form asp-controller="Auth" asp-action="Register"  method="post">
    <input type="text" name="PIB" />
    <button type="submit"></button>
</form>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
